@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500');
// colors
$dark: #425062;
$grey: #788697;
$light-grey: #9FB0C5;
$bg: #fbfbfb;
$white: #fff;
$gradient: linear-gradient(-1deg, #00C2D7 0%, #773EE4 100%);

$font-stack: 'Maven Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
  font-size: 1rem;
  line-height: 1.5;
  color: $dark;
  background-color: $bg;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  &__content {
    flex: 1;
  }
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.about,
.projects {
  margin: 4rem 0;
}

.hero {
  position: relative;
  background-image:$gradient;
  width: 100%;
  min-height: 25.25rem;

  &__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  &__title {
    margin: 0;
    font-size: 3rem;
    color: $white;
  }

  &__lead {
    margin: 1rem auto;
    max-width: 360px;
    color: #fff;
  }
}

.social {
  &__item {
    margin: 0 .725rem;
    position: relative;
    color: $white;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 8px;
      width: 32px;
      height: 32px;
      transform: translate(-50%, -50%);
      background: linear-gradient(45deg, #773EE4 0%, #BA00BF 100%);
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.card {
  background: $white;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
  border-radius: 5px;
  margin-bottom: 1rem;

  &__hero {
    border-radius: 5px 5px 0 0;
  }

  &__inner {
    padding: 1.5rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }

  &__meta {
    font-size: .875rem;
    color: $light-grey;
  }

  &__text {
    color: $grey;
  }
}

.projects {
  &__title {
    margin-bottom: 2.5rem;
    text-align: center;
  }
}

.footer {
  padding: 1rem 0;
  background: $white;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}